@model BankingProjectAuth.Models.Credit

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Credit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrincipal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPrincipal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwedPrincipal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwedPrincipal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OverduePrincipal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OverduePrincipal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InterestRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalInterest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalInterest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwedInterest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwedInterest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OverdueInterest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OverdueInterest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstallmentAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstallmentAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NextInstallment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NextInstallment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastInstallment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastInstallment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalTaxes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalTaxes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwedTaxes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwedTaxes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OverdueTaxes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OverdueTaxes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BankingAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankingAccount.ID)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit | </a>
    }
    <a asp-action="Index">Back to List</a>
</div>
